@model OfficePlantCare.Models.Admin

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Username)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Username)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PasswordHash)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PasswordHash)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CreatedDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UpdatedDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UpdatedDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Avatar)
    </dt>
    <dd class="col-sm-10">
        <img src="@Url.Content(Model.Avatar)" alt="Avatar" class="img-fluid rounded" style="max-width: 80px;" />
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd class="col-sm-10">
        @if (Model?.Status != null && Model.Status.ToString() == "Hoạt động")
        {
            <span class="text-success fw-bold">Hoạt động</span>
        }
        else
        {
            <span class="text-danger fw-bold">Không hoạt động</span>
        }
    </dd>


    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Address)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Role)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Role.RoleName)
    </dd>
</dl>

<button type="button" class="btn btn-primary" onclick="loadModal('@Url.Action("Edit", "Admins", new { id = Model?.AdminId })')">
    Chỉnh sửa
</button>
<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
