@model List<OfficePlantCare.Models.ServiceRequest>

@{
    ViewData["Title"] = "Quản lý Yêu Cầu Phát Sinh";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}


<h2>Quản lý Yêu Cầu Phát Sinh</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Dịch vụ</th>
            <th>Khách hàng</th>
            <th>Ngày yêu cầu</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.RequestId</td>
                <td>@request.Service?.ServiceName</td>
                <td>@request.Customer?.CustomerName</td>
                <td>@request.RequestDate?.ToString("dd/MM/yyyy")</td>
@*                 <td>@request.Status</td>
 *@            </tr>
        }
    </tbody>
</table>

