@model OfficePlantCare.Models.News

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Image)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Image)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CreatedDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UpdatedDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UpdatedDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd class="col-sm-10">
        @if (Model.Status.ToString() == "Hiển thị")
        {
            <span class="text-success fw-bold">Hiển thị</span>
        }
        else
        {
            <span class="text-danger fw-bold">Ẩn</span>
        }
    </dd>
   </dl>
<button type="button" class="btn btn-primary" onclick="loadModal('@Url.Action("Edit", "News", new { id = Model?.NewsId })')">
    Chỉnh sửa
</button>
<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
