@model IEnumerable<PlantCare.Models.CareScheduleInventory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminQL/Views/Shared/Admin.cshtml";
}
<div class="pcoded-main-container">

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantityUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CareSchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CareSchedule.ScheduleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.ItemId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CareScheduleInventoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CareScheduleInventoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CareScheduleInventoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>